:root {
  --sidebar-width: 300px;
  --light-square-color: rgb(235, 236, 208);
  --dark-square-color: rgb(115, 149, 82);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100vh;
  color: rgb(20, 20, 20);
  background: white;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-square {
  fill: var(--light-square-color);
  font-weight: 600;
}

.dark-square {
  fill: var(--dark-square-color);
  font-weight: 600;
}
